@{
	ViewData["Ttile"] = "Login";
	var returnUrl = ViewData["ReturnUrl"] as string;
}

<h1>Login</h1>

<div class="row">
	<div class="col-md-4">
		<section>
			<h4>Usa una cuenta externa para iniciar sesion</h4>
			<hr />
			<form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-return="@returnUrl" method="post" class="form-horizontal">
				<div class="form-group">
					<p>
						<button type="submit" class="btn btn-primary" name="provider" value="Google" title="Log in using you Google account">
							Login con Google
						</button>
					</p>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}